@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* letters and diary entries */
[epub|type~="z3998:diary-entry"] header,
[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:letter"] header + p,
[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:signature"],
p[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

div[epub|type~="z3998:letter"],
[epub|type~="z3998:diary-entry"] + [epub|type~="z3998:diary-entry"]{
	margin: 1em 0;
}

.telegram{
	font-variant: all-small-caps;
}

[epub|type~="se:diary.dateline"],
#some-like-them-cold [epub|type~="se:letter.dateline"]{
	font-style: italic;
}

[epub|type~="z3998:letter"] header > [epub|type~="z3998:salutation"]{
	padding: 0;
	text-align: initial;
	text-indent: 0;
}
/* end letters and diary entries */

/* poetry, songs */
[epub|type~="z3998:verse"] p,
[epub|type~="z3998:song"] p,
[epub|type~="z3998:poem"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span,
[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br,
[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

[epub|type~="z3998:verse"] p + p,
[epub|type~="z3998:song"] p + p,
[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}
/* end poetry, songs */

/* Sign in "The Clubby Roadster */
#the-clubby-roadster > blockquote{
	font-variant: small-caps;
}
/* end of sign in "The Clubby Roadster */

/* Newspaper Clippings */
#the-big-town-1 > blockquote > header{
	font-variant: small-caps;
	text-align: center;
}
/* End Newspaper Clippings */
